:root {
  --primary: #59d760;
  --secondary: #121212;
  --hover: #2a2a2a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: black;
  height: 100vh;
}

.songs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

.songs-table {
  height: 70vh;
  overflow-y: scroll;
}

form {
  display: flex;
  color: white;
  background-color: var(--secondary);
  margin: 1rem;
}

form h2 {
  background-color: var(--primary);
  color: white;
}

fieldset {
  display: flex;
  border: 0px;
  margin: 5px 0px 5px 0px;
  padding: 0px;
}

input {
  padding: 5px;
  border: 2px solid white;
}

button {
  border: 0px;
  border-radius: 0px;
}

label {
  font-weight: bold;
}

.search-field, .date-field {
  margin: 1rem 1rem 1rem 0rem;
}

.search-by-info {
  display: flex;
  margin: 0rem 0rem 0rem 1rem;
}

.search-by-date {
  display: flex;
}

#date_button{
  margin: 34px 0rem 21px -16px;
}

#reset_button {
  margin: 34px 2rem 21px 2rem;
}


.album-wall{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 0rem 1rem;
}

img{
  width: auto;
  height: 70vh;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
